#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.input-div {
  color: #242424;
  margin: auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 120px;
  max-width: 800px;
  max-height: 500px;
  min-height: 250px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.input-div input{
  width:60%;
  height: 40px;
  border: 0.5px solid rgb(112, 112, 112);

}