#root {
  margin: 0 ;
  height: 100vh; /* Full viewport height */

  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: auto;
 }
.input-div {
  color: #242424;
  margin: auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 120px;
  max-width: 800px;
  max-height: 500px;
  min-height: 250px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.input-div input{
  width:60%;
  height: 40px;
  border: 0.5px solid rgb(112, 112, 112);
  padding: 5px 20px;
  font-size: larger;

}
.input-div .description{
  max-width: 52%;
  font-size:x-small;
  margin-top: 0;

}
div .parent-div{
border:1px solid black;

}

